*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header{
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

nav {
    margin-left:auto;
    margin-right: 20px;
    text-align: center;
    position: relative;
    width:fit-content;
}
button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.welcome-section{
    background-image: url(https://i.imgur.com/tkFfJYu.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    padding:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    height:100vh;
}

.menu-section{
    padding:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about-section{
    background-color: #f4f4f4;
    padding:50px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}   